Synced Postcard: ${subject}
You got a Synced Postcard from ${sender}!

${title}

${snap_url}
#if (${caption})

"${caption}"
#end

You can visit this room at http://www.Synced.com/go/world-s${scene_id}

This email was sent by ${sender_email} from http://Synced.com/
